@import "../../node_modules/magnific-popup/dist/magnific-popup";

@import "null";
@import "global";
@import "fonts";

/*!
   *Main custom css file copiled with scss
   *Author:Yurii Babyn
   *Email:gofrelancetalks@gmail.com
 */

.wrapper {
  position: relative;
  z-index: 0;
  min-height: 100vh;
  min-width: 100%;
}

body.mouse .topbar__nav-list>li:hover .topbar__nav-sublist {
  display: block;
}
body.touch .topbar__nav-sublist.open{
  display: block;
}

body.touch .arrow {
  display: block;
  transition: all 0.3s ease 0s;
}


//-topbar-section
.topbar {
  position: absolute;
  z-index: 50;
  width: 100%;
  top: 0px;
  left: 0px;
  color: $white;
  transition: all 0.3s ease 0s;
  &__info {
    padding: 24px 0px;
    display: flex;
    font-size: 12px;
    &-item-call {
      margin-left: 54px;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        top: 4px;
        left: -28px;
        background: url(../img/phone-icon.svg) 0 0 / cover no-repeat;
        width: 24px;
        height: 24px;
      }
    }
    &-item-service {
      margin-left: 54px;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        top: 4px;
        left: -28px;
        background: url(../img/timer-icon.svg) 0 0 / cover no-repeat;
        width: 24px;
        height: 24px;
      }
    }
    &-item-link {
      margin-left: 30px;
    }
  }
  &__nav {
    background: $white;
    padding: 18px 40px;
    &-list {
      display: flex;
      li {
        margin-right: 40px;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.15px;
        position: relative;
        z-index: 50;
        a {
          transition: all 0.3s ease 0s;
          color: $dark-blue;
          &:hover {
            color: $main-red;
          }
        }
      }
    }
    &-link {
      display: block;
      position: relative;
    }
    &-sublist {
      display: none;
      position: absolute;
      top: 20px;
      left: -40px;
      background: $white;
      padding: 25px 30px 10px 30px ;
      z-index: 10;
      li{
        margin-right: 0;
        margin-left: 5px;
      }
    }
    &-sublink {
      display: inline-block;
      font-size: 12px;
      margin-top: 5px;
    }
    &-images {
      display: flex;
      transition: all 0.3s ease 0s;
      img {
        width: 24px;
        height: 24px;
        margin-left: 22px;
        transition: all 0.3s ease 0s;
        &:hover {
          position: relative;
          bottom: 2px;
        }
        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}


.arrow{
  position: absolute;
  top: 8px;
  right: -17px;
  width: 0;
  height: 0;
  border-top: 7px solid $sec-red;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

.arrow.active{
  transform: rotate(-180deg);
}

//-main-section
.main-screen {
  position: relative;
  min-height: 100vh;
  z-index: 0;
  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

//-about-section
.about {
  background: #f5f5f5;
  width: 100%;
  padding-bottom: 100px;
  z-index: 5;
  position: relative;
  &__body {
    background: $white;
    position: relative;
    top: -80px;
  }
  &__bg-image {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    max-width: 642px;
    z-index: 0;
  }
  &__container {
    max-width: 850px;
    margin: 0px auto;
    padding: 100px 20px 0px 20px;
  }
  &__container-img {
    position: relative;
    bottom: -120px;
  }
  &__main {
    margin-top: 100px;
  }
  &__item-person {
    display: flex;
    justify-content: center;
    align-items: center;
    h4 {
      margin-left: 10px;
      margin-bottom: 0;
    }
    img {
      margin-top: 10px;
      max-width: 48px;
      height: auto;
    }
  }
}

//-video-section
.video {
  position: relative;
  padding: 110px 0px;
  width: 100%;
  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  &__play-button {
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-name: play-button;
    animation-timing-function: linear;
    transition: all 0.3s ease 0s;
    &:hover{
      box-shadow: 0px 0px 10px #000000;
      border-radius: 50%;
      
    }
  }
  @keyframes play-button {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1);
    }
    75% {
      transform: scale(0.9);
    }
    100% {
      transform: scale(1);
    }
  }
}

//-features-section
.features {
  position: relative;
  width: 100%;
  background: #f5f5f5;
  padding: 100px 10px;
  &__col {
    padding-left: 20px;
  }
  &__item {
    padding: 50px 10px;
    background: #fff;
    transition: all 0.3s ease 0s;
    &:hover {
      box-shadow: 0px 7px 15px rgba($color: #000000, $alpha: 0.4);
    }
    &-text {
      padding: 0px 20px;
    }
  }
}

//-form-section
.form-section {
  position: relative;
  width: 100%;
  padding: 100px 10px 210px 0px;
  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
    padding: 76px 57px;
    textarea,
    input {
      width: 100%;
      background: #f5f5f5;
      margin-top: 22px;
      padding: 17px 23px;
      max-height: 180px;
    }
  }
  &__text {
    display: flex;
    flex-direction: column;
  }
  &__text-title {
    font-weight: 900;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #ffffff;
  }
  &__text-number {
    font-weight: 900;
    font-size: 96px;
    line-height: 56px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #c40b0b;
    display: block;
    margin: 46px 0px 0px 0px;
  }
  &__text-text {
    font-weight: 900;
    font-size: 19px;
    line-height: 26px;
    color: #ffffff;
    display: block;
    margin-top: 46px;
  }
}

//-content-section
.content {
  max-width: 846px;
  margin: 0px auto;
  text-align: center;
}

//-tabs-section
.tabs {
  border-bottom: 1px solid rgba($color: $global-gray, $alpha: 0.5);
  &__items {
    display: flex;
    transition: all 0.3s ease 0s;
  }
  &__item {
    position: relative;
    z-index: 1;
    flex: 0 1 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: $dark-blue;
    padding-bottom: 10px;
    transition: all 0.3s ease 0s;
    margin-right: 10px;
    &:hover {
      color: $main-red;
    }
    &::before {
      position: absolute;
      content: "";
      bottom: -2px;
      left: 0px;
      width: 100%;
      background: transparent;
      height: 3px;
    }
    &:hover::before {
      background: $main-red;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__body {
    margin-top: -80px;
  }
  &__block {
    display: none;
    position: relative;
    &:target {
      display: block;
    }
    &::before {
      position: absolute;
      content: "";
      top: 40px;
      right: 30px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #21c613;
    }
    &:nth-child(1)::before {
      right: 82%;
    }
    &:nth-child(2)::before {
      right: 53%;
    }
    &:nth-child(3)::before {
      right: 28%;
    }
    &:nth-child(4)::before {
      right: 25px;
    }
  }
}

//-gallery-section
.gallery {
  padding-bottom: 200px;
}

//-impact-section
.impact {
  position: relative;
  padding: 110px 0px;
  width: 100%;
  z-index: 10;
  h2 {
    max-width: 421px;
  }
  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &__img-body {
    max-width: 498px;
    height: auto;
  }
  &__img {
    position: absolute;
    top: -180px;
    right: 0px;
    z-index: 15;
  }
  &__body {
    position: relative;
    z-index: 16;
    display: flex;
    flex-direction: column;
  }
  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 100px 20px;
    img {
      max-width: 76px;
      height: auto;
    }
  }
  &__block-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
  }
  &__block-text-red {
    display: block;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    color: #c40b0b;
  }
  &__block-text-line {
    display: block;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #f5f5f5;
  }
  &__footer {
    width: 100%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -195px;
    right: 0px;
    padding: 40px 73px;
    &-text {
      padding: 20px 30px;
      font-weight: 900;
      font-size: 24px;
      line-height: 30px;
      color: $dark-blue;
    }
  }
}

//-footer-section
.footer {
  position: relative;
  width: 100%;
  background: #f5f5f5;
  padding: 160px 0px;
  &__social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0px;
    a {
      border: 1px solid $global-gray;
      padding: 1px;
      border-radius: 50%;
      &:hover {
        border: 1px solid $sec-red;
        border-radius: 50%;
      }
    }
  }
  &__logo {
    max-width: 174px;
  }
  &__text {
    margin: 22px 0px 30px 0px;
  }
  &__list {
    margin-top: 25px;
    li {
      margin-top: 11px;
      font-weight: bold;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.15px;
      color: $global-gray;
    }
    a {
      transition: all 0.3s ease 0s;
      &:hover {
        color: $sec-red;
      }
    }
  }
  &__contacts {
    margin-top: 28px;
    a {
      transition: all 0.3s ease 0s;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      margin-top: 10px;
    }
    &-1 {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        top: 0px;
        left: -40px;
        background: url(../img/place_24px.svg) 0 0 / cover no-repeat;
        width: 24px;
        height: 24px;
      }
    }
    &-2 {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        top: 0px;
        left: -40px;
        background: url(../img/smartphone_24px.svg) 0 0 / cover no-repeat;
        width: 24px;
        height: 24px;
      }
    }
    &-3 {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        top: 0px;
        left: -40px;
        background: url(../img/email_24px.svg) 0 0 / cover no-repeat;
        width: 24px;
        height: 24px;
      }
    }
    &-4 {
      position: relative;
      &::before {
        position: absolute;
        content: "";
        top: 0px;
        left: -40px;
        background: url(../img/place_24px.svg) 0 0 / cover no-repeat;
        width: 24px;
        height: 24px;
      }
    }
  }
}

//-bottom-section
.bottom {
  position: relative;
  width: 100%;
  background: $dark-blue;
  padding: 21px 10px;
}

@import "media";
